<a href="https://colab.research.google.com/github/fiza-azam/Python-Class/blob/main/Python_Class_Task_Worksheet_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task no.1: A code with its output is given
```
DivByTwo = [x for x in range(1,21) if x%2 == 0]
print(DivByTwo)
```
Output: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20] <br>

Modify the above code in such a manner that it generates the following output <br>
Expected Output: [4, 8, 12, 16, 20, 24, 28, 32, 36, 40] <br>

In [ ]:
DivByTwo = [x*2 for x in range(1,21) if x%2 == 0]
print(DivByTwo)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

Task no.2: From a given list [1, 2, 'a', 5, 'b', 'c', 10] filter integers and save it in a new list using List Comprehension

In [ ]:
list1 = [1, 2, 'a', 5, 'b', 'c', 10]
integers = [x for x in list1 if type(x) == int]
print(integers)

[1, 2, 5, 10]

Task no.3: Get The second column of the matrix = [ [1,2,3], [4,5,6], [7,8,9] ] <br>

In [ ]:
matrix = [[1,2,3], [4,5,6], [7,8,9]] 
#col2 = [matrix[x][1] for x in range(0,3)] #way 1
col2 = [row[1] for row in matrix] #way 2
print(col2)

[2, 5, 8]

Task no.5: Write code for  dictionary comprehension and use {'JACK': 38, 'michael': 48, 'SAM': 57, 'john': 33} dictionary. the code must return the following output<br>
Output: {'JACK': 38, 'SAM': 57}

In [1]:
original_dict = {'JACK': 38, 'michael': 48, 'SAM': 57, 'john': 33}

new_dict = {k:v for (k,v) in original_dict.items() if k.isupper()} 
print(new_dict)

{'JACK': 38, 'SAM': 57}